.authContainer {
    background-color: #e0e0e0;
    border-radius: 10px;
    width: 300px;
    /*height: 400px;*/
    height: auto;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.authHeader {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to left, #2e2e2e, #7a7a7a);
    color: #fff;
    border-radius: 10px 10px 0 0;
}
h2{
    margin-top: 1px;
    margin-bottom: 5px;

}

.input-field-placement {
    grid-row: 2;
}

.switchAuthType {
    text-align: center;
    grid-row: 4;
    margin-bottom: 10px;
}

.switchAuthType span {
    color: blue;
    cursor: pointer;
    text-decoration: underline;

}

.button-placement{
    margin: 5%;
    grid-row: 3;
}

