.dropdown-container{
    background-color: #4E73F6;
    border-radius: 10px;
    width: 200px;
    height: auto;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    z-index:999;
    position: absolute;
}

.button{
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

h3{
    color: white;
    text-align: left;
    margin-left: 15px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
}