#inputField input {
    width: 44%;
    padding: 8px 0 4px 4px;
    font-size: 16px;
    border: 1px solid #ced4da;
    box-shadow: 0 0 4px #00000019;
    border-radius: 5px;
    margin: 1% 1% 1% 3%;
}
.continue-container{
    display: grid;
    width: 100%;
    grid-template-columns: 77% auto auto;
}
#inputField input:focus {
    background-color: #f3f3f3;
    outline: 0;
    color: black;
    box-shadow: 0 0 8px #6DB6FF99;
}