.productList {
    width: 100%;
    text-align: center;
}

.productGrid {
    display:flex;
    flex-wrap: wrap;
    background-color: #d4d4d4;
    gap: 5%;
}

@media (max-width: 1200px) {
    .productGrid {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 900px) {
    .productGrid {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 600px) {
    .productGrid {
        grid-template-columns: auto;
    }
}

.productItem {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 280px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: auto;
}

.productImage {
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.productInfo {
    padding: 15px;
}

.productTitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
}

.productPrice {
    font-size: 1.25rem;
    font-weight: bold;
    color: #2a5885;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: auto;
}

.buttonContainer button {
    padding: 5px 10px;
    font-size: 0.9rem;
}
